#photo-viewer {
	height: 300px;}

#photo-viewer img {
	max-width: 100%;
	max-height: 100%;}

#thumbnails {
		margin: 10px 5px 0px 0px;
	height: 60px;}

#thumbnails img {
	max-width: 100%;
	max-height: 100%;}

a.active {
	opacity: 0.3;}
